<h3> <%= @issue.name %> </h3>
<h2>Issue Owner: <%= @issue.user_name %></h2> <br>

<div class="recommendations">
  <h2><%= IssuesDecorator.new(@issue).recommendation(@issue) %></h2>
</div>

<h2>Pros of Doing This</h2>
<ul class="pro">
  <% @issue.pros.each do |pro| %>
  <%= render partial: 'pros/pro', locals: {pro: pro} %>
<% end %>
</ul>
<h2>Cons of Doing This</h2>
<ul class="con">
  <% @issue.cons.each do |con| %>
  <%= render partial: 'cons/con', locals: {con: con} %>
  <% end %>
</ul>

Add a new Pro <br> <br>
<%= render 'pros/new_pro' %> <br> <br>

Add a new Con <br> <br>
<%= render 'cons/new_con' %> <br> <br>

<%= link_to "Edit Issue", edit_issue_path %>
<%= link_to "Delete Issue", issue_path, method: :delete %>
