<h1> <%= @issue.name %> </h1> <br>
<ul>
  <h3>Pros of Doing This</h3> <br>
  <% @issue.pros.each do |pro| %>
  <li> <%= pro.name %> </li> <br>
  <% end %>

  <h3>Cons of Doing This</h3> <br>
  <% @issue.cons.each do |con| %>
  <li> <%= con.name %> </li> <br>
  <% end %>
</ul>

Add a new Pro <br> <br>
<%= render 'pros/new_pro' %> <br> <br>

Add a new Con <br> <br>
<%= render 'cons/new_con' %> <br> <br>

<%= link_to "Edit Issue", edit_issue_path %>
<%= link_to "Delete Issue", issue_path, method: :delete %>
