<%= form_for user, url: '/users' do |f| %>
  <% if user.errors.any? %>
  <div ="error_explanation">
    <div class="alert alert-danger fade-in">
      <h2>Please correct the following errors:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  Name: <br> <%= f.text_field :name %> <br> <br>
  Email: <br> <%= f.text_field :email %> <br> <br>
  Password <em>(minimum 6 char)</em>: <br> <%= f.password_field :password %> <br> <br>
  Password Confirmation: <br> <%= f.password_field :password_confirmation %> <br> <br>
  <%= f.submit("Create!", class: 'btn btn-dark btn-circle btn-lg') %> <br>
<% end %>
